
@font-face{}
body{
    font-size: 14px /*!important*/;
    box-sizing: border-box;
}
h5{ font-size: 18px;}
p{ font-size: 14px;  font-family: 'Open Sans', sans-serif;}
*, *:before, *:after {
  box-sizing: inherit;
}
a{ text-decoration: none !important; padding: 5px; }
header{
     font-family: 'Raleway', sans-serif;
    padding: 20px 0;
    color: #fff !important;
    background-color: #3d4148;
}
.topbar { padding: 10px; }
.hr-img {margin-bottom: 20px;}
.heading {   font-family: 'Raleway', sans-serif; }

.chamfer {
    position: relative;
}

.chamfer::after {
    width: 0px;
    height: 0px;
    background: #fff;
    content: '';
    width: 50%;
}

 .pos-center{ justify-content: center; }
 .menu-top{ margin: 10px; }
 .menu-top a{
    padding: 5px 10px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
 }

 .menu-top a:hover {
    color: #fff;
    text-decoration: #f73a1e;
    border-bottom: 1px solid #f73a1e;
 }
.avatar { position: relative; justify-content: center; }
.avatar img{  vertical-align: middle;  margin-top: -10px; padding: 0 10px;}
.avatar a {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    text-decoration: none;
    position: absolute;
    top: 50px;
 }
 .avatar a:hover { color: #fff;  border-bottom: 1px solid #f73a1e; }
/*.slider{
    margin: 60px 0;
}*/
.slider-main{
    position: relative;
    margin: 90px 0;
}
.angle{ 
    position: absolute;
    transform: translateY(100%); 
}
/*.angle:hover{ color: #ff3c1f; }*/
.angle:hover{
    color: #ff3c1f !important;
    /*background-color: #ff3c1f;
    border: 1px solid #ff3c1f;*/
}
.angle-left{ left: 20px; }
.angle-right{ right: 20px;}
.slider-menu{
    margin: 10px;
    padding: 10px;
    border: 1px solid #fff;
}
.slider-menu:hover{
    background-color: #ff3c1f;
    border: 1px solid #ff3c1f;
}
.slider a{
    padding: 5px;
    color: #fff;
    text-decoration: none;
 }

 .slider a:hover {
    color: #fff;
    text-decoration: none;
 }
/* .slider-cn{ margin: 30px 0; padding: 20px;}*/
 .controls{
    width:  15px !important;
    height: 15px !important;
    margin: 8px;
    background-color: none;
 }
 .header-choose { background-color: #fff; }
 .header-controls{ border: 1px solid #fff; }
 .header-controls:hover{ background-color: #fff; }

 .section{ position: relative; padding: 40px 0; background-color: #fff; }

.chamfer-ab:after {
    position: absolute;
    top: -20px;
    right: -20px;
    background: transparent;
    border-top: 20px solid #3d4148;
    border-left: 20px solid transparent;
}
 .st-about{ padding: 30px 0; margin: 20px;   font-family: 'Open Sans', sans-serif;}
 .st-text{ font-size: 18px; margin: 20px 0; }
 .st-button { font-size: 14px; }
 #st-about-main{
    margin: 30px 0;
 }
 #about-hr{
    width: 100px;
    color: #d14b3a;
    position: absolute;

 }
.about-text {
    color: #4e5860;
}
.icon-name {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    left: 70px;
    top: 0;
    font-size: 18px;
}
.icon-number { font-size: 30px; }
.st-about-icon {
    padding: 20px;
}
.icon-ti{ font-size: 40px; }

.st-paralax{ 
    color: #fff;
    background-color: #d14b3a; 
}
.pa-header { text-align: center;  font-family: 'Raleway', sans-serif; margin: 30px 0;}
.header-text {font-size: 18px;}
.pa-content { width: 70%;margin: auto;  position: relative;}
.pa-text { font-family: 'Open Sans', sans-serif; font-weight:lighter; font-size: 30px; }
.pa-text1 { font-style: italic; }
.apostrophe {  
    font-family: 'Times New Roman';  
    font-size: 150px; 
    opacity: 0.2; 
    position: absolute; 
    top: -70px; 
    left: -50px; 
}

.chamfer-pa:after {
    position: absolute;
    top: 0;
    right: 0px;
    background: #fff;
    border-top: 20px solid rgba(0, 0, 0, 0);
    border-left: 20px solid #d14b3a;
}

#pa-hr{ width: 100px; color: #fff; }
.st-content { text-align: left; }
#author{ font-size: 18px;  position: relative; left: 0;}
.st-stats{  font-family: 'Raleway', sans-serif; color: #fff; background-color: #656d7a; padding: 60px 0;}
.st-blog { font-family: 'Raleway', sans-serif; }
/*.st-blog p {  font-family: 'Open Sans', sans-serif;  }*/
.blog-header{ text-align: center; }
#stats-st{ width: 100px; color: #d14b3a; }
.chamfer-bl{ height:  200px; background-color: #656d78;}
.chamfer-bl:after {
    position: absolute;
    top: 0;
    right: 0px;
    background: #fff;
    border-top: 20px solid rgba(0, 0, 0, 0);
    border-left: 20px solid #656d78;
}
#blog-hr{ width: 90%; }
.blog-post{ border: 1px solid #aab2bf; height: 350px; position: relative;}
.blog-link {
    margin-left: 10px;
    padding: 5px;
   color: #656d78; 
   text-align: center;
}
.blog-link-left{ position: absolute; left: 20px; top:50%;}
.blog-link-right{ position: absolute; right: 20px; top:50%;}

.blog-link:hover{ 
    color: #ff3b1f;
}
.button {
    font-family: 'Raleway', sans-serif;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ff3b1f;
   color: #ff3b1f; 
   text-align: center;
}
.button:hover{ 
    background-color: #ff3b1f;
    color: #fff; 
    text-decoration: none;

}
.blog-list{ padding: 0 15px; }
.blog-icon{ color: #ff7364; }
.blog-name {
    position: relative;
    left: 25px;
    top: -25px;
}
.blog-text{ color: #4e5860; padding: 0 10px; margin-top: -15px;}
.read-me{ border: 1px solid #4e5860 ; }
.read-me:hover{ border: 1px solid #ff7364 ; }

.st-portf{  font-family: 'Open Sans', sans-serif;  text-align: center;vertical-align: middle; }
.short-hr{ width: 100px; border-top: 1px solid #fff;}
.protf-grid{ 
    margin: 30px 0;
    width: 100%;
    height: 480px; 
    background-color: #656d78;
}
.grid-part{ 
    height: 240px; 
    border: 1px solid #757c86;
    display: inline-block; 
    position: relative;
}
.grid-content{
    width: 100%;
    margin: 0 -15px;
    position: absolute;
    display: none;
    top: 0;
    z-index: 1;
    background-color: #52575d; 
    padding: 0 !important;
}
.grid-part:hover .grid-content{ display: block; }
.col-md-offset {position: absolute; left: 50%;}
.grid-top{ color: #fff; transform: translateY(30%);  height: 170px;}
.grid-bot { height: 70px; width: 100%; background-color: #fff; }
.grid-bot:after {
    position: absolute;
    top: 0;
    left: 0;
    /* background: #fff; */
    border-top: 20px solid #52575d;
    border-right: 20px solid #ffffff;
}
.grid-link { color: #52575d; padding: 10px; }
.grid-link:hover { color: #ff3c1f; }
.grid-list{ position:absolute; transform: translateY(50%); ;
}
.partners{ 
    margin: 15px;
    padding: 30px 15px;
    border: 2px solid #e6e9ed; 
}
.partners img { height: 20px;  }

.st-Testimonials{
    text-align: center;
    background: url(../images/Testimonials.png)  center no-repeat;
    background-size: cover;
}
.st-Testimonials h2{ color: #fff; }
.testi-part { 
        background-color: #fff;
        width: 100%; 
        text-align: left;
        padding: 20px;
        margin: 20px;
}
.testi-part:after {
    position: absolute;
    top: -20px;
    left: 0px;
    background: transparent;
    border-bottom: 20px solid #fff;
    border-right: 20px solid transparent;
/*.contact-p1{ padding:20px; }*/
}
.testi-part a { color: #000; }
.testi-part a:hover { color: #ff3c1f; }
.testi-text {
    width: 80%;
    position: relative;
    top: -50px;
    left: 100px;
}
.testi-choose { background-color: #ff3c1f; }
.testi-controls{ border: 1px solid #ff3c1f; }
.testi-controls:hover{ background-color: #ff3c1f; }
.testi-text span { font-size: 14px; color: #ff3c1f; }
.st-contact { color: #4e5860; }
.ct-header { color: #272d32; }
.st-contact input,
.st-contact textarea{ width: 100%; border-top: none; margin: 10px; padding: 5px;}
.text-input{ font-style: italic; }
.chamfer-ct:after {
    position: absolute;
    top: -30px;
    left: 0;
    background: transparent;
    border-bottom: 30px solid #fff;
    border-right: 30px solid transparent;
}
.ct-icon {
    position: relative;
    left: 30px;
    top: -30px;
}
.ct-icon a { color: #4e5860; }
.ct-icon a:hover{ color: #ff3c1f; }
.st-map{ 
    padding-bottom: 0; 
    width: 100%;
    overflow: hidden;
}
.chamfer-map:after {
    position: absolute;
    top: 30px;
    right: 0px;
    background: transparent;
    border-top: 30px solid #fff;
    border-left: 30px solid transparent;
}
footer{ 
    height: 150px;
    position: relative;
    background-color:  #303030; 
    vertical-align: middle;
    color: #fff;
    margin-bottom: 0;
}
footer .avatar-text:hover {  color: #ff3c1f;}
.footer-icon {margin: 10px;}
.footer-icon a { 
    color: #fff;
    font-size: 18px; 
}
.avatar .footer-part img{ transform: translateX(100%); }
.footer-part {
    width: 100%;
    position: absolute;
    transform: translateY(50%);
}
.footer-text{ transform: translateY(100%);  font-family: 'Open Sans', sans-serif;}
.angle-up{
    padding: 5px;
    width: 30px; 
    height: 30px; 
    background-color: #57595b;
    position: absolute;
    top: -15px;
    right: 80px;
}

.chafer-top:after {
    position: absolute;
    top: -30px;
    left: 0px;
    background: transparent;
    border-bottom: 30px solid #ffffff;
    border-right: 30px solid transparent;
}
.menu-chane { 
   font-size: 12px;
   /*float: right; */
}

/*style for blog page*/


.main-blog{ padding: 20px 0; }
.blog-date { color: #656d78; }
.blog-content {
    width: 90%;
    position: relative;
    left: 100px;
    top: -100px;
}
/*styles for typography*/
.typ-part { padding: 20px 0; }
.typ-heading { text-align: center;  }
.block-link { color: #ff3c1f; }
.block-right { position: relative; left: 20px; top: -180px; }
.typ-part p { text-align: left; }
.big-char { font-size: 24px; padding: 0 5px; color: #4e5860;}
.big-char:hover { color: #fff; background-color: #ff3c1f; }

/*styles for post page*/
.search {position: relative; padding: 0 5px; border: 1px solid #656d78;}
.search-icon { position: absolute; right: 5px; top: 15px; }
.input-text { padding: 5px 10px; border-style: none; }
.categories { margin: 20px 0; }
.cate-right { float: right; }