
@font-face{
    /*font-family: 'Open Sans', sans-serif;*/
    
}
body{
	font-size: 14px /*!important*/;
	box-sizing: border-box;
}
h5{ font-size: 18px;  }
p{ font-size: 14px; }
*, *:before, *:after {
  box-sizing: inherit;
}
header{
	color: #fff;
	background-color: #3d4148;
}


.chamfer {
    position: relative;
}

.chamfer::after {
    width: 0px;
    height: 0px;
    background: #fff;
    content: '';
    width: 55%;
}

/*.chamfer-bot{
    background: #fff;
}*/


 /*.topbar{ margin: 30px; }
 .topbar ul{ justify-content: center; }*/
 .pos-center{ justify-content: center; }
 .menu-top{ margin: 10px; }
 .menu-top a{
 	padding: 10px;
	color: #fff;
 	font-size: 18px;
 	text-decoration: none;
 }

 .menu-top a:hover {
 	color: #fff;
 	text-decoration: #f73a1e;
 	border-bottom: 1px solid #f73a1e;
 }
 .menu-top img{ width: 30px;  }
 /*#avatar-img{ width: 40px; }*/
 #avatar-text{
 	position: absolute;
 	top: 50px;
 }
/*.slider{
	margin: 60px 0;
}*/
.slider-main{
	margin: 90px 0;
}
.slider-menu{
	margin: 10px;
	padding: 5px;
	border: 1px solid #fff;
}
.slider-menu:hover{
	background-color: #ff3c1f;
	border: 1px solid #ff3c1f;
}
.slider a{
 	padding: 5px;
	color: #fff;
 	text-decoration: none;
 }

 .slider a:hover {
 	color: #fff;
 	text-decoration: none;
 }
 .slider-cn{margin: 30px 0; padding: 20px;}
 .continue{
 	height: 15px;
 	width: 15px;
 	margin: 5px;
 	border: 1px solid #fff;
 }
 .continue:hover{background-color: #fff;
 	}

 .section{ padding: 30px 0; background-color: #fff; }
 .chamfer {
    position: relative;
}

.chamfer::after {
    width: 0px;
    height: 0px;
    background: #fff;
    content: '';
    width: 55%;
}

/*.chamfer-bot{
    background: #fff;
}*/
.chamfer-ab:after {
    position: absolute;
    top: -20px;
    right: -20px;
    background: #3d4148;
    border-top: 20px solid rgba(0, 0, 0, 0);
    border-left: 20px solid #fff;
}
 .st-about{ padding: 30px 0; margin: 20px;}
 .st-text{ font-size: 18px; margin: 20px 0; }
 #st-about-more{
 	color: #fff;
 	font-size: 14px;
 	background-color: #ff3c1f;
 	padding: 5px 10px;
 	margin: 10px;
 	text-decoration: none;
 }
 #st-about-more:hover {
 	/*color: #fff;*/
 	background-color: #3d4148;
 }
 #st-about-main{
 	margin: 30px 0;
 }
 #about-hr{
 	width: 100px;
 	color: #d14b3a;
 	position: absolute;
 	left: 40px;
 }
.st-about p{
	color: #4e5860;
}
.icon-name {
    position: absolute;
    left: 70px;
    top: 15px;
    font-size: 18px;
    color: #000 !important;
}
.st-about-icon {
	padding: 20px;
}
.icon-ti{ font-size: 40px; }

.st-paralax{ 
	color: #fff;
	background-color: #d14b3a; 
	text-align: center;
}
.chamfer-pa:after {
    position: absolute;
    top: 0;
    right: -20px;
    background: #fff;
    border-top: 20px solid rgba(0, 0, 0, 0);
   /* border-right: 10px solid white;*/
    border-left: 20px solid #d14b3a;
}

#pa-hr{ width: 100px; color: #fff; }
#author{ font-size: 18px; }
.st-stats{ background-color: #656d7a; padding: 60px 0;}
.blog-header{ text-align: center; }
#stats-st{ width: 100px; color: #d14b3a; }
.chamfer-bl{ height:  200px; background-color: #656d78;}
.chamfer-bl:after {
    position: absolute;
    top: 0;
    right: -20px;
    background: #fff;
    border-top: 20px solid rgba(0, 0, 0, 0);
    border-left: 20px solid #656d78;
}
.blog-hr{ width: 90%; }
.blog-post{ border: 1px solid #aab2bf; height: 350px;}
.blog-link { 
    color: #4e5860; 
    text-decoration: none; 
    text-align: center;
}
.blog-link:hover{ color: #ff7364; text-decoration: none;}
.blog-list{ padding: 0 15px; }
.blog-icon{ color: #ff7364; }
.blog-name {
    position: relative;
    left: 25px;
    top: -25px;
}
.blog-text{ color: #4e5860; padding: 0 10px; margin-top: -15px;}
.read-me{ border: 1px solid #4e5860 ; }
.read-me:hover{ border: 1px solid #ff7364 ; }

.st-portf{ text-align: center;vertical-align: middle; }
.protf-title { text-align: center; }
.short-hr{ width: 100px; }
.protf-grid{ height: 480px; background-color: #656d78; }
.grid-content{ height: 240px; background-color: #52575d; }
.grid-after{ position: absolute; bottom: 0; background-color: #dddddf; }
..grid-after {
    height: 75px;
    width: 100%;
    background-color: #fff;
 }   
.grid-after:after {
    position: absolute;
    top: 0;
    right: -20px;
    background: #fff;
    border-top: 20px solid rgba(0, 0, 0, 0);
    border-left: 20px solid #656d78;
}
.grid-list{ position: absolute; right: 0; }
.grid-link:hover { color: #ff3c1f; }

.partners{ 
    margin: 10px;
    padding: 25px 15px;
    border: 2px solid #e6e9ed; 
}
.partners img { height: 20px;  }

.st-Testimonials{
    text-align: center;
    background: url(../images/st-Testimonials/Testimonials.png) center no-repeat;
}
.testi-part { 
        position: absolute; 
        bottom: 0; 
        width: 80%; 
        text-align: left;
        padding: 20px;
}

footer{ 
    background-color:  #303030; 
    vertical-align: middle;
    color: #fff;
}
.footer-icon { margin: 20px 10px; }